<Section class='recipe-page ph-10vw'>
    <div class='recipe-page-details'>
        <%= image_tag @recipe.photo, alt: 'recipe photo' %>
        <div class='recipe-details'>
                <p><span class="recipe-name"><%= @recipe.name + ':' %></span> <%= @recipe.description %></p>
        </div>
    </div>
    <div class='recipe-page-instructions'>
        <div class='ingredients'>
            <h3>Ingredients</h3>
            <% if @ingredients.any? %>
            <ul>
                <% @ingredients.each do |ingredient| %>
                    <li><%= ingredient.name %></li>
                <% end %>
            </ul>
            <% else %>
                <p>No ingredients specified</p>
            <% end %>
        </div>
        <div class='instructions'>
            <h3>Instructions</h3>
            <p><%= @recipe.instructions %></p>
        </div>
        <div class='actions'>
            <% if user_signed_in? && current_user == @recipe.user %>
                <%= form_with(model: @recipe, url: user_recipe_path(current_user, @recipe), method: :delete, data: { confirm: 'Are you sure?' }) do |f| %>
                    <%= f.button "Delete Recipe", class: 'delete-recipe-button' %>
                <% end %>
              <button>Generate Shopping List</button>
                <%= form_with(model: @recipe, url: toggle_visibility_user_recipe_path(current_user.id, @recipe), local: true, method: :post, class: 'toggle-visibility-form') do |f| %>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-switch" type="checkbox" id="publicToggle" <%= @recipe.public? ? 'checked' : '' %>>
                    <label class="form-check-label" for="publicToggle">
                    <span class="slider round"></span>
                    <%= @recipe.public? ? 'Public' : 'Private' %>
                    </label>
                    <%= f.hidden_field :public, value: !@recipe.public? %>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
</Section>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const toggleSwitch = document.querySelector(".toggle-switch");
  const form = document.querySelector(".toggle-visibility-form");

  toggleSwitch.addEventListener("change", function() {
    form.submit();
  });
});
</script>