<Section class='recipe-page ph-10vw'>
    <div class='recipe-page-details'>
        <%= image_tag @recipe.photo, alt: 'recipe photo' %>
        <div class='recipe-details'>
            <h4 class='recipe-name'><%= @recipe.name %>:</h4>
            <p> <%= @recipe.description %></p>
        </div>
    </div>
    <div class='recipe-page-instructions'>
        <div class='instructions'>
            <h3>Instructions</h3>
            <p>instructions</p>
        </div>
        <div class='ingredients'>
            <h3>Ingredients</h3>
            <ul>
                <% @recipe.ingredients.each do |ingredient| %>
                    <li><%= ingredient.name %></li>
                <% end %>
            </ul>
        </div>
        <div class='actions'>
            <button>Generate Shopping List</button>
            <% if user_signed_in? %>
              <button>Delete Recipe</button>
                <%= form_with(model: @recipe, url: toggle_visibility_user_recipe_path(current_user, @recipe), local: true, method: :post, class: 'toggle-visibility-form') do |f| %>
                    <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="publicToggle" <%= @recipe.public? ? 'checked' : '' %>>
                    <label class="form-check-label" for="publicToggle">
                        <%= @recipe.public? ? 'Public' : 'Private' %>
                    </label>
                    <%= f.hidden_field :public, value: !@recipe.public? %>
                    </div>
                <% end %>
            <% end %>
        </div>

    </div>
</Section>