<%= render 'hero_home' %>
<Section class='public-recipe-list'>
    <h4>Public Recipe List</h4>
    <% @recipes.each do |recipe| %>
        <div class='recipe-card'>
            <div class='recipe-card-header'>
                <h4><%= recipe.name %></h4>
                <p><%= recipe.description %></p>
            </div>
            <div class='recipe-card-body'>
                <p><%= recipe.ingredients %></p>
                <p><%= recipe.instructions %></p>
            </div>
        </div>
    <% end %>
</Section>
