<%= render 'hero_home' %>
<Section class='public-recipe-list ph-10vw'>
    <h4 class="title-heading">Public Recipe List</h4>
    <div class="cards-grid-container">
        <% @publicRecipes.each do |recipe| %>
            <div class='recipe-card'>
                <div class='recipe-card-photo'>
                    <%= image_tag recipe.photo, class: 'recipe-photo', alt: 'recipe cover image' %>
                </div>
                <div class='recipe-card-header'>
                    <%= link_to recipe.name, user_recipe_path(recipe.user.id, recipe.id) %>
                </div>
                <hr class='separator'>
                <div class='recipe-card-info'>
                    <p><%= recipe.preparation_time + recipe.cooking_time %> min</p>
                    <i class="fa-solid fa-star"></i>
                    <p><%= RecipeIngredient.where(recipe_id: recipe.id).count %> Ingr</p>
                </div>
                <hr class='separator'>
                <div class='recipe-actions'>
                    <p>Rating: 0</p>
                    <i class="fa-solid fa-square-plus"></i>
                </div>
            </div>
        <% end %>
    </div>
</Section>
